
          body{
            background-color: #ecf0ec; 
            font-family:'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
          } 
          input{
            background-color: chocolate;
          }
          .btn{
            text-transform: uppercase;
            padding: 5px 10px;
            margin: 10px;
          }
          .btn:hover{
            cursor: pointer;
            background-color: #ecf0ec;
            color:black;
            font-weight: 800;

          }
          .kirim{
            background-color: chartreuse;
            color: aliceblue;
          }
          .reset{
            background-color: rgb(255, 41, 3);
            color: aliceblue;
          }
          .klik{
            background-color: rgb(16, 205, 238);
            color: aliceblue;
          }